TELEGRAM_BOT_TOKEN="8810701606:AAF9EbgeenvscZCMvFOs7hrFaU21hmVeuEY"
TELEGRAM_WEBHOOK_SECRET="FintuLoMejor"

GEMINI_API_KEY="AIzaSyAcG3QkOd0Oux3Cwlpxzl-qJ29tctCy4hA"
GEMINI_MODEL="gemini-2.5-flash"
DEFAULT_CURRENCY="COP"

BLOB_READ_WRITE_TOKEN=""